.glass1 {
  background: rgba(255, 255, 255, 0.65) !important;
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important; */
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}
.glass2 {
  background: rgba(215, 252, 234, 0.65) !important;
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important; */
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}
.glass3 {
  background: rgba(12, 26, 50, 0.85) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}
.glass4 {
  background: rgba(255, 255, 255, 0.95) !important;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37) !important;
  backdrop-filter: blur(7px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}
.glass5 {
  background: rgba(27, 10, 1, 0.8);
  box-shadow: 0 8px 32px 0 rgba(241, 230, 224, 0.9) !important;
  backdrop-filter: blur(7px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}
.glass6 {
  background: rgba(27, 10, 1, 0.4);
  border: none !important;
  backdrop-filter: blur(7px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
}
#particles-js{ 
  position:absolute;
  width: 100% !important; 
  height: 100% !important; 
  background-color: #550c11; 
  overflow: hidden !important;
  /* background-image: url(""); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 50% 50%;  */
}
.bg-dark {
  background-color: #1C2D54 !important;
}
.bg-yellow {
  background: #ff9100 !important;
}
.bg-night {
  background-color: #121619 !important;
}
.btn-dark{
  background-color: #1C2D54 !important;
}
.btn-brown{
  background-color: #1b0a01 !important;
}
.bg-none{
  background: none !important;
}
.bg-red{
  background-color: #FE0000 !important;
}
.bg-brown{
  background-color: #1b0a01 !important;
}
.bg-chow{
  background: #0C513F !important;
}
.bg-glovo{
  background: #FFC244 !important;
}
.bg-eden{
  background: #a29995 !important;
}
.bg-take{
  background: #242426 !important;
}
.text-chow{
  color: #0C513F !important;
}
.text-glovo{
  color: #FFC244 !important;
}
.text-eden{
  color: #a29995 !important;
}
.text-take{
  color: #242426 !important;
}
.bg-prime {
  background: #0080FF !important;
}
.bg-lime {
  background: #0080FF !important;
}
.btn-brown{
  background-color: #1b0a01 !important;
  color: #D7FCEA !important;
}
/* .bg-brown{
  background-color: #4c1c00 !important;
} */
.bg-primary {
  background-color: #6cbbfa !important;
  /* color: #ffffff;  */
}
.bg-prime {
  background-color: #0080FF !important;
}
.text-prime {
  color: #0080FF !important;
}
.text-yellow {
  color: #ff9100 !important;
}
.text-brown {
  color: #4c1c00 !important;
}
.text-red{
  color: #FE0000  !important;
}
.bg-blue{
  background-color: #D7FCEA !important;
}
.text-blue{
  color: #D7FCEA !important;
}
.bg-body{
  background-color:  #E6E9EF !important;
}
.bdr-0{
  border-radius: 0px !important;
}
.fc{
  background-color: #a3abca !important;
}
.font-ibm{
  font-family: 'IBM Plex Sans' !important;
}
.bg-app{
  background: #90BEDE !important;
}
.mh-box{
  height: 150px !important;
}
.mh-box-h{
  height: 75px !important;
}
.btn-outline-brown {
  color: #1b0a01;
  border-color: #1b0a01; }
  .btn-outline-brown:hover {
    color: #ffffff;
    background-color: #1b0a01;
    border-color: #1b0a01; }
  .btn-check:focus + .btn-outline-brown, .btn-outline-brown:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5); }
  .btn-check:checked + .btn-outline-brown, .btn-check:active + .btn-outline-brown, .btn-outline-brown:active, .btn-outline-brown.active, .btn-outline-brown.dropdown-toggle.show {
    color: #ffffff;
    background-color: #1b0a01;
    border-color: #1b0a01; }
    .btn-check:checked + .btn-outline-brown:focus, .btn-check:active + .btn-outline-brown:focus, .btn-outline-brown:active:focus, .btn-outline-brown.active:focus, .btn-outline-brown.dropdown-toggle.show:focus {
      box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5); }
  .btn-outline-brown:disabled, .btn-outline-brown.disabled {
    color: #1b0a01;
    background-color: transparent; }
  .no-leats{
    display: none !important;
  }
  /* Styles for pagination buttons */
.dataTables_wrapper .dataTables_paginate .paginate_button.page-item {
    display: inline-block;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.page-item .page-link {
    background-color: #FEFEFE !important; /* Change to your desired color */
    color: #1b0a01 !important; /* Text color */
    border: none !important;
    border-radius: 4px !important;
    padding: 5px 10px !important;
    margin: 2px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.page-item .page-link:hover {
    background-color: #4c1c00 !important; /* Change to your desired hover color */
    color: #FEFEFE !important
}
.dataTables_wrapper .dataTables_paginate .paginate_button.page-item.active .page-link {
    background-color: #FE0000 !important; /* Active button color */
    color: white !important;
}
.dt-button {
    background-color: #007bff !important; /* Change background color */
    color: white !important; /* Change text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    margin: 5px; /* Add margin */
    border-radius: 4px; /* Add border radius */
}

.dt-button:hover {
    background-color: #0056b3 !important; /* Change background color on hover */
}

.dt-button:focus {
    outline: none; /* Remove outline on focus */
}
.dt-actions{
  background-color: #4c1c00 !important;
  color: #fffffe !important;
  font-size: 12px !important;
  /* font-weight: bold; */
}
.dt-actions:hover{
  opacity: 0.6 !important;
}
.g-hover:hover {
    background-color: rgb(206, 37, 37) !important;
    color: black !important;
}